*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

button,
input {
  font: inherit;
  color: inherit;
  border-radius: var(--radius);
}

button {
  padding: 0;
  border: 0;
  background: none;
  cursor: default;
}

input {
  margin: 0;
}
